*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-color: 230 35% 7%;
    --blue-color: 210, 100%, 42%;
}
body {
    color: hsl(var(--font-color));
}
img {
    max-width: 100%;
    display: block;
}
.section {
    padding: 2em 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
}
.container {
    margin-inline: auto;
    max-width: 75rem;
    width: 85%;
}
.input__group {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
input {
    width: 100%;
    padding: 1em 0.75em;
    border: 1px solid #444343;
    border-radius: 3px;
    margin-bottom: 2em;
    margin-top: 0.75em;
}
.dark__button {
    border: unset;
    background: hsl(231, 77%, 90%);
    padding: 1em 0.75em;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #404040;
}
.blue__button {
    border: unset;
    padding: 1em 0.75em;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: hsl(var(--blue-color));
}
.button__container {
    display: flex;
    flex-direction: column;
}
.button__container button:first-child {
    margin-bottom: 1.5em;
} 
.logo {
    content: url('./Assets/Logo-Mobile.svg');
}
#qrCode{
    padding: 1.5em;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .logo {
        order: 1;
        margin-bottom: 3.5em;
        margin-top: 1.5em;
    }
    .qrcode__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .qrcode {
        display: flex;
        align-self: center;
        order: 2;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 2em 0;
        order: 3;
    }
}
@media screen and (min-width: 768px) {
    .logo {
        content: url('./Assets/Logo-Desktop.svg');
    }

  .section {
    padding: 0;
  }
  .qrcode__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: hsl(var(--blue-color));;
    padding: 50px;
    width: 55em;
    height: 40em;
  }
  .qrcode {
    display: flex;
    justify-content: center;
    grid-row: 1 / 3;
    }
    
  .input__group {
    display: flex;
    align-self: center;
  }
  .logo {
    width: 14em;
    align-self: center;
    margin-bottom: 3em;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 0 auto;
  }
  input {
    margin-bottom: 2em;
    margin-top: 0.75em;
    font-size: 1rem;
  }

  .blue__button {
    display: none;
}
}